.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

form {
  width: 500px;
  padding: 1rem;
  background-color: rgb(237, 237, 249);
  border-radius: 1rem;
}

.form-control {
  display: block;
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.checkbox-box,
.radio-box {
  display: flex;
  gap: 1rem;
}

:host ::ng-deep .p-button {
  width: 100%;
  padding: 0.5rem;
}
