<router-outlet></router-outlet>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <app-text-field
        labelFor="username"
        label="Username"
        id="username"
        name="username"
        formControlName="username"
        [parentForm]="form"
        controlName="username"
      ></app-text-field>
    </div>

    <div class="form-control">
      <app-textarea-field
        labelFor="description"
        label="Description"
        id="description"
        name="description"
        formControlName="description"
        [parentForm]="form"
        controlName="description"
      ></app-textarea-field>
    </div>

    <div class="form-control">
      <app-password-field
        labelFor="password"
        label="Password"
        id="password"
        name="password"
        [feedback]="false"
        [toggleMask]="true"
        formControlName="password"
        [parentForm]="form"
        controlName="password"
      ></app-password-field>
    </div>

    <div class="form-control">
      <label for="phone">Phone</label>
      <p-inputMask
        mask="99-99-99-99-99"
        formControlName="phone"
        placeholder=""
      />
    </div>

    <div class="form-control">
      <label for="city">City</label>
      <p-dropdown
        formControlName="city"
        [options]="cityList"
        optionLabel="name"
        optionValue="name"
        placeholder="Select a City"
      />
    </div>

    <div class="form-control">
      <label for="languages">Languages</label>
      <div class="checkbox-box">
        <ng-container *ngFor="let language of languagesOptions">
          <p-checkbox
            [label]="language"
            (onChange)="onCheckboxChange($event, language)"
            [checked]="form.value.languages?.includes(language)"
          ></p-checkbox>
        </ng-container>
      </div>
    </div>

    <div class="form-control">
      <label for="premium">Premium</label>
      <div class="radio-box">
        <p-radioButton
          label="Yes"
          name="premium"
          value="yes"
          formControlName="premium"
        ></p-radioButton>

        <p-radioButton
          label="No"
          name="premium"
          value="no"
          formControlName="premium"
        ></p-radioButton>
      </div>
    </div>

    <p-button type="submit" label="Submit" severity="info" />
  </form>

  <pre>{{ form.value | json }}</pre>
</div>
