<router-outlet></router-outlet>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="username">Username</label>
      <input
        type="text"
        pInputText
        id="username"
        name="username"
        formControlName="username"
      />
    </div>

    <div class="form-control">
      <label for="description">Description</label>
      <textarea rows="5" cols="30" pInputTextarea formControlName="description">
      </textarea>
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <p-password
        formControlName="password"
        [feedback]="false"
        [toggleMask]="true"
      />
    </div>

    <div class="form-control">
      <label for="phone">Phone</label>
      <p-inputMask
        mask="99-99-99-99-99"
        formControlName="phone"
        placeholder=""
      />
    </div>

    <div class="form-control">
      <label for="city">City</label>
      <p-dropdown
        formControlName="city"
        [options]="cityList"
        optionLabel="name"
        optionValue="name"
        placeholder="Select a City"
      />
    </div>

    <div class="form-control">
      <label for="languages">Languages</label>
      <div class="checkbox-box">
        <ng-container *ngFor="let language of languagesOptions">
          <p-checkbox
            [label]="language"
            (onChange)="onCheckboxChange($event, language)"
            [checked]="form.value.languages?.includes(language)"
          ></p-checkbox>
        </ng-container>
      </div>
    </div>

    <div class="form-control">
      <label for="premium">Premium</label>
      <div class="radio-box">
        <p-radioButton
          label="Yes"
          name="premium"
          value="yes"
          formControlName="premium"
        ></p-radioButton>

        <p-radioButton
          label="No"
          name="premium"
          value="no"
          formControlName="premium"
        ></p-radioButton>
      </div>
    </div>

    <p-button type="submit" label="Submit" severity="info" />
  </form>

  <pre>{{ form.value | json }}</pre>
</div>
