label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

:host ::ng-deep p-password {
  .p-password {
    width: 100%;

    input {
      width: 100%;
      padding: 0.75rem 0.5rem;
    }
  }
}
